
@media (max-width: 950px) {
  .interest-section .interest-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolio-section .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 700px) {
  .home-section .home-text, .home-section .home-img {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-section .home-text {
    order: 2;
    text-align: center;
  }

  .home-section .full-screen {
    padding: 100px;
  }

  .home-section .home-img .img-box {
    margin-bottom: 40px;
    max-width: 350px;
  }
  .effect-3 {
    margin-left: -60px;
  }

  .effect-4 {
    left: 15%;
  }

  .effect-5 {
    right: 4%;
  }

  .about-section .about-info, .about-section .about-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-section .about-img {
    padding-bottom: 30px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }
  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }

  .about-section .timeline::before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }
  
  .about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }

  .about-section .timeline .timeline-item{
    margin-bottom: 40px;
  }

  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }
  
  .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
    left: -30px;
    right: auto;
  }

  .portfolio-popup .description, .portfolio-popup .info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .portfolio-popup .pp-project-details p {
    margin-bottom: 40px;
  }

  .contact-section .contact-form .w50, .contact-section  .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact-section .contact-form .submit-btn {
    text-align: center;
  }

  .about-section .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-section .skills .skill-item p span{
    display: none;
  }

  .about-section .skills .skill-item p {
    left: 5%;
  }
  
}

@media (max-width: 550px) {
  .home-section .home-img .img-box {
    max-width: 360px;
  }
  .home-section .home-text h2 {
    font-size: 40px;
  }

  .interest-section .interest-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .portfolio-section .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  
}









